<link rel="stylesheet" href="../stylesheets/styles.css">
<div class="container">
    <div>
        <%= message %>
    </div>
    <br>
    <form action="/app" method="GET">
        <button class="button" type="submit">Return to App</button>
    </form>
</div>